{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 230px;">
            <h5 class="card-title">{{menu.breakfast_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.breakfast_info.nutrition.calories}}</h6>
            {% if args.breakfast_fixed == 'true' %}
              <h6 class="card-subtitle mb-2 text-muted">Fixed</h6>
            {% else %}
              <h6 class="card-subtitle mb-2 text-muted">Not fixed</h6>
            {% endif %}
            <img src="{{ menu.breakfast_info.image_url }}">
            {% if args.breakfast_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed=false&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed=true&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 230px;">
            <h5 class="card-title">{{menu.lunch_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.lunch_info.nutrition.calories}}</h6>
            {% if args.lunch_fixed == 'true' %}
              <h6 class="card-subtitle mb-2 text-muted">Fixed</h6>
            {% else %}
              <h6 class="card-subtitle mb-2 text-muted">Not fixed</h6>
            {% endif %}
            <img src="{{ menu.lunch_info.image_url }}">
            {% if args.lunch_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed=false&dinner_fixed={{args.dinner_fixed}}" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed=true&dinner_fixed={{args.dinner_fixed}}" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 230px;">
            <h5 class="card-title">{{menu.dinner_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.dinner_info.nutrition.calories}}</h6>
            {% if args.dinner_fixed == 'true' %}
              <h6 class="card-subtitle mb-2 text-muted">Fixed</h6>
            {% else %}
              <h6 class="card-subtitle mb-2 text-muted">Not fixed</h6>
            {% endif %}
            <img src="{{ menu.dinner_info.image_url }}">
            {% if args.dinner_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed=false" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed=true" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/build_menu/hi?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}&menu_id={{menu.id}}" class="btn btn-primary" style="position: absolute; bottom: 15px; right: 15px;">Gen</a>
{% endblock %}
