{% extends 'base.html' %}

{% block content %}
  <a href="/build_menu/gen?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}&menu_id={{menu.id}}" class="btn btn-secondary">Regen</a>
  <a href="/save_menu/{{menu.id}}" class="btn btn-secondary">Save</a>
  <p></p>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 450px;">
            <h5 class="card-title">{{menu.breakfast_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.breakfast_info.nutrition.calories}}</h6>
            {% if menu.breakfast_info.image_url != "None" %}
              <img src="{{ menu.breakfast_info.image_url }}">
            {% else %}
              <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=350>
            {% endif %}
            {% if args.breakfast_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed=false&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed=true&lunch_fixed={{args.lunch_fixed}}&dinner_fixed={{args.dinner_fixed}}" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 450px;">
            <h5 class="card-title">{{menu.lunch_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.lunch_info.nutrition.calories}}</h6>
            {% if menu.lunch_info.image_url != "None" %}
              <img src="{{ menu.lunch_info.image_url }}">
            {% else %}
              <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=350>
            {% endif %}
            {% if args.lunch_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed=false&dinner_fixed={{args.dinner_fixed}}" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed=true&dinner_fixed={{args.dinner_fixed}}" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card">
        <div style="position: relative;">
          <div class="card-body" style="min-height: 450px;">
            <h5 class="card-title">{{menu.dinner_info.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories: {{menu.dinner_info.nutrition.calories}}</h6>
            {% if menu.dinner_info.image_url != "None" %}
              <img src="{{ menu.dinner_info.image_url }}">
            {% else %}
              <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=350>
            {% endif %}
            {% if args.dinner_fixed == 'true' %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed=false" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Unfix</a>
            {% else %}
              <a href="/build_menu/{{menu.id}}?breakfast_fixed={{args.breakfast_fixed}}&lunch_fixed={{args.lunch_fixed}}&dinner_fixed=true" class="btn btn-secondary" style="position: absolute; bottom: 15px; right: 15px;">Fix</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div style="position: relative;">
      <div class="card-body" style="min-height: 230px;">
        <h5 class="card-title">Grocery List</h5>
        <table>
          {% for ingredient in grocery_list %}
            <tr>
              <td> {{ingredient.name}} </td>
              <td> &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; </td>
              <td> {{ingredient.unit_amount}} {{ingredient.unit}}<br/> </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
