{% extends 'base.html' %}

{% block title %}{{ menu.menu_id }}{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ menu.breakfast_info.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Calories: {{ menu.breakfast_info.nutrition.calories }}</h6>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          {% if menu.breakfast_info.image_url != "None" %}
            <td class="leftcol" width="30%"> <img src="{{ menu.breakfast_info.image_url }}"> </td>
          {% else %}
            <td class="leftcol" width="30%"> <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=250> </td>
          {% endif %}
          <td valign="top"> Ingredients:<br/><br/>
            <table>
              {% for ingredient in menu.breakfast_info.ingredients %}
                <tr>
                  <td> {{ingredient.name}} </td>
                  <td> &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; </td>
                  <td> {{ingredient.unit_amount}} {{ingredient.unit}}<br/> </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
      <p></p>
      <div class="card">
        <p class="card-text">
          <ol>
            {% for instruction in menu.breakfast_info.instructions %}
              <li> {{instruction}} </li>
            {% endfor %}
          </ol>
        </p>
      </div>
      <p></p>
      <a href="{{ menu.breakfast_info.url }}" class="btn btn-secondary">fatsecret</a>
    </div>
  </div>
  <p></p>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ menu.lunch_info.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Calories: {{ menu.lunch_info.nutrition.calories }}</h6>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          {% if menu.lunch_info.image_url != "None" %}
            <td class="leftcol" width="30%"> <img src="{{ menu.lunch_info.image_url }}"> </td>
          {% else %}
            <td class="leftcol" width="30%"> <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=250> </td>
          {% endif %}
          <td valign="top"> Ingredients:<br/><br/>
            <table>
              {% for ingredient in menu.lunch_info.ingredients %}
                <tr>
                  <td> {{ingredient.name}} </td>
                  <td> &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; </td>
                  <td> {{ingredient.unit_amount}} {{ingredient.unit}}<br/> </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
      <p></p>
      <div class="card">
        <p class="card-text">
          <ol>
            {% for instruction in menu.lunch_info.instructions %}
              <li> {{instruction}} </li>
            {% endfor %}
          </ol>
        </p>
      </div>
      <p></p>
      <a href="{{ menu.lunch_info.url }}" class="btn btn-secondary">fatsecret</a>
    </div>
  </div>
  <p></p>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ menu.dinner_info.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Calories: {{ menu.dinner_info.nutrition.calories }}</h6>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          {% if menu.dinner_info.image_url != "None" %}
            <td class="leftcol" width="30%"> <img src="{{ menu.dinner_info.image_url }}"> </td>
          {% else %}
            <td class="leftcol" width="30%"> <img src="{{ url_for('static', filename='images/default_recipe.png') }}" width=250> </td>
          {% endif %}
          <td valign="top"> Ingredients:<br/><br/>
            <table>
              {% for ingredient in menu.dinner_info.ingredients %}
                <tr>
                  <td> {{ingredient.name}} </td>
                  <td> &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; </td>
                  <td> {{ingredient.unit_amount}} {{ingredient.unit}}<br/> </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
      <p></p>
      <div class="card">
        <p class="card-text">
          <ol>
            {% for instruction in menu.dinner_info.instructions %}
              <li> {{instruction}} </li>
            {% endfor %}
          </ol>
        </p>
      </div>
      <p></p>
      <a href="{{ menu.dinner_info.url }}" class="btn btn-secondary">fatsecret</a>
    </div>
  </div>
{% endblock %}
